.attachment-by-url .state-text {
  display: block;
}

.attachment-by-url .button-cancel,
.attachment-by-url .dummy,
.attachment-by-url .state-icon {
  display: none;
}

.attachment-by-url .state-icon.ready {
  display: inline;
}

.attachment-by-url .file-url {
  width: 300px;
}

.attachment-by-url .description {
  width: 340px;
}

.attachment-by-url.failed .state-text {
  color: #8b0000;
}

.attachment-by-url.completed .state-text {
  color: #084f08;
}

.attachment-by-url .progress {
  display: none;
  background-color: white;
  height: 3px;
  margin: 0 0 0 20px;
  padding: 0;
  width: 306px;
}

.attachment-by-url .progress-line {
  background-color: green;
  height: 3px;
  margin: 0;
  padding: 0;
  width: 0%;
}
