.attachment-by-url .file-url {
  width: 50%;
}

.attachment-by-url .description {
  width: 340px;
}

.attachment-by-url .bad-url-text {
  display: none;
  color: red;
}

.attachment-by-url.bad-url .bad-url-text {
  display: block;
}
